
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dosis&family=Raleway:wght@100&display=swap');
.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}
.home-first {
  padding: 1%;
  width: 50%;
  align-items: center;
}
.home-first p {
  font-family: "Amatic SC", cursive;
  font-size: 1.3em;
}
.home-first h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  color: rgb(34, 34, 82);
  padding: 1%;
  width: fit-content;
}
.home-first h2 {
  font-family: "Raleway", sans-serif;
}
.home-second {
  padding: 1%;
  width: 50%;
  align-items: center;
}
.home-second img {
  width: 100%;
  height: 100%;
}
.about {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 50%;
  grid-template-areas: 
    "abtone abttwo"
    "abtone abtthree"
  ;
  background-color: aquamarine;
}
.about-one{
 grid-area: abtone;
 
}
.about-one img{
  height: 100%;
}
.about-two{
  grid-area: abttwo;
  
}
.about-three{
  grid-area: abtthree;
  
}
.dumeel{
  background-color: black;
  width: 300px;
  height: 200px;
}
.techstack{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2%;
}
.techstack li{
  list-style: none;
  margin: 1%;
  color: aliceblue;
  border: 1px solid rgb(31, 101, 70); 
  border-radius: 25px;
  width: auto;
  text-align: center;
  cursor: pointer;
  margin: 2%;
  background-color: #4e4e4b;
  padding: 2%;
  font-family: 'Dosis', sans-serif;
}
table {
  font-family: 'Dosis', sans-serif;
  border-collapse: collapse;
  width: 100%;
 color: rgb(14, 14, 15);
}

td, th {
  border: 1px solid #c29d9d;
  text-align: left;
  padding: 8px;
}
th{
  color: #f9f9f5;
}
tr {
  background-color: #120e0e5e;
  
}

.services{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: aquamarine;
  font-family: 'Dosis', sans-serif;
}
.service-one{
  margin-top: 3%;
  padding: 2%; 
  width: 23%;
  height: 80vh;
  background-color: #4e4e4b;
  border-radius: 6px;
}
.service-two{
  margin-top: 3%;
  padding: 2%;
  width: 23%;
  height: 80vh;
  background-color: #4e4e4b;
  border-radius: 6px;
}
.service-three{
  margin-top: 3%;
  padding: 2%;
  width: 23%;
  height: 80vh;
  background-color: #4e4e4b;
  border-radius: 6px;
}
.service-text{
  height: 80%;
  color: #f9f9f5;
  border: 1px solid rgb(113, 102, 102);
  border-radius: 6px;
  padding: 2%;
  text-align: center;
}
.services button{
  margin-top: 7%;
  width: auto;
  font-size: larger;
  background-color: transparent;
  border: 1px solid rgb(113, 102, 102);
  color: #f9f9f5;
  padding: 4%;
  border-radius: 6px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}
.services button:hover{
  background-color: #f9f9f5;
  color: #070706;
}
.contact{
  width: 100%;
  height: 100vh;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.contact-left{
   background-image: url("https://drive.google.com/uc?export=download&id=1_JARGnZew9ILhr8xRYFLUfMnveKBre85");
   background-position: center;
    opacity: 80%;
  }
.contact-right{
  background-color: #4e4e4b;

}